*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    position: absolute;
    top: 40vh;
    font-family: "Montserrat";
}